<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <script>
        function getUrlPrams(para) {
            var search = location.search;
            var arrPara = new Array();
            var arrVal = new Array();

            if(search!="") {
                search = search.substr(1);
                arrPara = search.split("&");
            }

            if (i in arrPara) {
                var index = 0;
                var arrPre = para + "=";
                if (arrPara[i].indexOf(arrPara) == 0 && arrVal.length < arrPara[i].length ){
                    arrVal[i] = decodeURI(arrPara[i].substr(arrPre.length));
                    index++;
                }
            }

            if(arrVal.length == 1) {
                return arrVal[0];
            }else if(arrVal.length == 0) {
                return null;
            }else {
                return arrVal;
            }
        }
    </script>

</body>
</html>